*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
/*    font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Abel', sans-serif;
    background-image: url('../Images/bike.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    
}

.myhead{
    font-family: 'Maven Pro', sans-serif;
    color: #fdcb6e!important;
    font-size: 25px;
    line-height: 2rem;
    text-shadow: 2px 2px 3px #000;
    letter-spacing: 0.2rem;
    font-weight: 800;
}

.row{
    background-image: linear-gradient(45deg, #ECE9E6,#ffeaa7);
    border-radius: 30px;
    box-shadow: 10px 10px 18px #636e72;
}
img{
    opacity: 0.8;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
   
}

 .round {
 border-radius: 10px!important;
     padding: 0.5rem;
}
input .round:focus {
	border-color: #339933;
}
.mybtn:hover{
    color:#000!important;
    background-color: #fff!important;
    border:1px solid #000!important;
}




